<div class="container-fluid mt-20" style="background-color: white; border-radius: 10px;">
  <div class="row">
    <div class="col-md-8">
      <h2>Partners</h2>
    </div>
    <div class="col-md-4 mt-20">
      <a href="/admin/add_admin" class="pull-right btn btn-primary">
        <i class="fa fa-plus-square"></i>
        &nbsp;Add Partner
      </a>
    </div>  
  </div>
  <div class="">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab1">Verify</a></li>
    <li><a data-toggle="tab" href="#tab2">Verified</a></li>
    <li><a data-toggle="tab" href="#tab3">Transactions</a></li>
    <li><a data-toggle="tab" href="#tab4">Update Documents Request</a></li>
    <li><a data-toggle="tab" href="#tab5">Expired Documents</a></li>
  </ul>
  <div class="tab-content">
    <div id="tab1" class="tab-pane fade in active">
      <h3>Booking Queries</h3>
      <p>Content for tab 1.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Pickup Location</th>
            <th scope="col">Drop Location</th>
            <th scope="col">Patient Name</th>
            <th scope="col">Mobile No.</th>
          </tr>
        </thead>
        <tbody>
          <%
            var count = 1;
          %>
          <% booking_queries.forEach((booking) => { %>
            <tr>
              <th scope="row"><%- count++ %></th>
              <td><%- booking.pickup_location %></td>
              <td><%- booking.drop_location %></td>
              <td><%- booking.patient_name %></td>
              <td><%- booking.mobile %></td>
              <td><%#- contact.modify %></td>
              <td>
                <a href="/admin/edit_admin/<%#- admin.id %>"><i class="fa fa-edit"></i></a>
                <a href="/admin/delete_admin/<%#- admin.id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="tab2" class="tab-pane fade">
      <h3>Corporate Queries</h3>
      <p>Content for tab 2.</p>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Company Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <%
            var count = 1;
          %>
          <% corporate_queries.forEach((corporate) => { %>
            <tr>
              <th scope="row"><%- count++ %></th>
              <td><%- corporate.name %></td>
              <td><%- corporate.company_name %></td>
              <td><%- corporate.email %></td>
              <td><%- corporate.phone %></td>
              <td><%#- contact.modify %></td>
              <td>
                <a href="/admin/edit_admin/<%#- admin.id %>"><i class="fa fa-edit"></i></a>
                <a href="/admin/delete_admin/<%#- admin.id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="tab3" class="tab-pane fade">
      <h3>Partner Queries</h3>
      <p>Content for tab 3.</p>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col">Ambulance</th>
            <th scope="col">Vehicle</th>
            <!-- <th scope="col">Status</th> -->
          </tr>
        </thead>
        <tbody>
          <%
            var count = 1;
          %>
          <% partner_queries.forEach((partner) => { %>
            <tr>
              <th scope="row"><%- count++ %></th>
              <td><%- partner.name %></td>
              <td><%- partner.phone %></td>
              <td><%- partner.city %></td>
              <td><%- partner.ambulance %></td>
              <td><%- partner.vehicel %></td>
              <td><%#- contact.modify %></td>
              <td>
                <a href="/admin/edit_admin/<%#- admin.id %>"><i class="fa fa-edit"></i></a>
                <a href="/admin/delete_admin/<%#- admin.id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="tab4" class="tab-pane fade">
      <h3>Partner Queries</h3>
      <p>Content for tab 3.</p>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col">Ambulance</th>
            <th scope="col">Vehicle</th>
            <!-- <th scope="col">Status</th> -->
          </tr>
        </thead>
        <tbody>
          <%
            var count = 1;
          %>
          <% partner_queries.forEach((partner) => { %>
            <tr>
              <th scope="row"><%- count++ %></th>
              <td><%- partner.name %></td>
              <td><%- partner.phone %></td>
              <td><%- partner.city %></td>
              <td><%- partner.ambulance %></td>
              <td><%- partner.vehicel %></td>
              <td><%#- contact.modify %></td>
              <td>
                <a href="/admin/edit_admin/<%#- admin.id %>"><i class="fa fa-edit"></i></a>
                <a href="/admin/delete_admin/<%#- admin.id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div id="tab5" class="tab-pane fade">
      <h3>Partner Queries</h3>
      <p>Content for tab 3.</p>
       <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">City</th>
            <th scope="col">Ambulance</th>
            <th scope="col">Vehicle</th>
            <!-- <th scope="col">Status</th> -->
          </tr>
        </thead>
        <tbody>
          <%
            var count = 1;
          %>
          <% partner_queries.forEach((partner) => { %>
            <tr>
              <th scope="row"><%- count++ %></th>
              <td><%- partner.name %></td>
              <td><%- partner.phone %></td>
              <td><%- partner.city %></td>
              <td><%- partner.ambulance %></td>
              <td><%- partner.vehicel %></td>
              <td><%#- contact.modify %></td>
              <td>
                <a href="/admin/edit_admin/<%#- admin.id %>"><i class="fa fa-edit"></i></a>
                <a href="/admin/delete_admin/<%#- admin.id %>"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>